@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 0.1px);
}

.img-picture{
    max-width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.container{
    width: 350px;
}

.page-container{
    
    
    background-color: hsl(0, 0%, 100%);
    margin-top: -0.7rem;
    border-radius: 0 0 10px 10px;
    padding: 2.1rem;
}

h3{
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 4px;
    
}

h3,
p, 
.list2{
    color: hsl(228, 12%, 48%);
}

h1{
    color: hsl(212, 21%, 14%);
}

h1,
.list{
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    font-size: 1.9rem;
}

p{
    line-height: 1.5;
}

ul{
    list-style: none;
    display: flex;
    align-items: center;
}

.list{
    
    color: hsl(158, 36%, 37%);
}

.list2{
    padding-left: 9.8px;
    text-decoration: line-through;
    font-size: 12px;
}

li,
button{
    font-family: inherit;
}

h3, h1, p, ul{
    padding-bottom: 10px;
}

.btn{
    background-color: hsl(158, 36%, 37%);
    border: none;
    color: white;
    width: 100%;
    padding: 11px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    cursor: pointer;
}

.btn:hover{
    background-color: hsla(158, 38%, 20%);
    transition-delay: 0.3s;
}

.btn > img{
    padding:0px 10px 0px 10px;
    transition: 0.3s;
}

.attribution { 
    font-size: 14px; 
    text-align: center; 
    padding-top: 35px;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 640px){
    .container{
        display: flex;
        flex-direction: row;
        width: 500px;
    }
    .img-picture{
        width: 250px;
        height: 100%;
        border-radius: 10px 0px 0px 10px;
    }
    .page-container{
        width: 250px;
        border-radius: 0px 10px 10px 0px;
        margin-top: 0;
    }
    
}